<div class="container">


  <h2>{{doorName}}</h2>


  <div>

    <div class="backDoor"  >
      <div [class]="getClassList()" (click)="toggleDoorOpenClose()" >

        <div class="knob"></div>

      </div>
    </div>
  </div>



  <div class="controlButtons" *ngIf="doorRouterView">
    <span  class="navigate-left-button"  (click)="goLeftArrowClick()"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="black"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></span>

    <div class="bulbs-controller">
      <span [className]="getClassNameForLightIconCirlce(1)" (click)="onLightCircleGetClicked(1)"  ></span>
      <span [className]="getClassNameForLightIconCirlce(2)" (click)="onLightCircleGetClicked(2)" ></span>
    </div>

    <span href="#" class="navigate-left-button" (click)="goRightArrowClick()" ><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="black"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg></span>
  </div>




</div>
